# Database files
*.db
*.db-journal
*.db-shm
*.db-wal

# Temporary download directory
.gaiaoffline_temp/

# Deno
.deno/
deno.lock

# OS
.DS_Store
Thumbs.db

ffi/tests/test.csv.gz
ffi/tests/test-c
ffi/tests/target
ffi/tests/test-go
ffi/rust/target
*.dylib
*.dll
*.so
